<div id="map" class="container-fluid">
    <div class="row">
        <button class="btn btn-info collapsed" style="z-index: 2000; position:relative; top: 1rem;"
            data-toggle="collapse" data-target="#fila">  <!-- este boton colapsador colapsa al div con id=fila (mas abajo)-->       
            <i class="fa fa-search"></i>
        </button>
    </div>

    <div class="collapse row no-gutters" id="fila" style="position: relative; left:1.5rem; top: -2rem;">
        <div class="col-md-auto" style="z-index: 2000; ">
            <app-usa-api (eventoMarcador)="ponerMarcador($event)" style="position:relative; left:-1rem;"></app-usa-api>
        </div>
        <div class="col-md-auto" style="z-index: 2000; ">
            <app-usa-api-location-iq (eventoMarcador)="ponerMarcador($event)" style="position:relative; left:-5rem;"></app-usa-api-location-iq>
        </div>
    </div>
</div>


