<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto">
      <nav class="navbar navbar-expand-lg navbar-ligth ubicacion" style='background-color: white;'>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- bloque para seleccionar busquedas guardadas -->
                <li class="nav-item dropdown">   
                  <a class="nav-link dropdown-toggle" style='width:7rem;' href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Busquedas&nbsp; <span class="badge badge-pill badge-info">{{contador}}</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" *ngFor="let busqueda of vectorBusquedas; let i = index;"
                      (click)="busquedasGuardadas($event)" style="font-size: small;">{{i}} - {{busqueda}}</a>
                  </div>
                </li>
            <!-- bloque para seleccionar busquedas guardadas -->
            
            <input class="form-control mr-sm-2" type="text" (keyup)="tecla($event)"
              placeholder="Buscar en la BD de Arba" aria-label="Search" [(ngModel)]="valorTexto"
              style="font-size: small;" />
          </ul>
        </div>
      </nav>
    </div>
    <div class="card" *ngIf="show" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Error&nbsp;<i class="fa fa-exclamation-circle"></i></h5>
        <p class="card-text">{{errorDescrip}}</p>
        <div class="alert alert-warnsing" style="user-select: all; top: 3px;" role="alert">
          <a class="dropdown-item" target="_blank" href="{{linkError}}">Verificar certificado</a>
        </div>
      </div>
    </div>
  </div>

  <!-- lista desplegable con el resultado de lo escrito en el input text -->
  <div class="row">
    <div class="col-md-auto">
      <ul class="list-group">
        <button type="button" class="list-group-item list-group-item-action"
          *ngFor="let respuesta of respuestas; let i = index;" (click)="atajarListaBuscar($event)">{{i}} -
          {{respuesta.categoria}}: {{respuesta.nombre}}</button>
      </ul>
    </div>
  </div>
  <!-- lista desplegable con el resultado de lo escrito en el input text -->

</div>